# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/
.config/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c


*.log

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
node_modules

# JetBrains Rider
.idea/
*.sln.iml
# Cake - Uncomment if you are using it
# tools/
packages
**/node_modules/**
**/static_files/default/**

*.iml
*.jar

.fleet
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# production
/dist
dist
dist/*
# misc
.DS_Store

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local
.fleet

# umi
.umi
.umi-production
.umi-test
.env.local
.fleet
package-lock.json
target
/platform-cloud/api-gateway/target
logs
/frontend/mall-ui/node_modules
/frontend/taro-mall/node_modules