<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>豆芽家</title>
  <link rel="icon" href="<%= context.config.publicPath +'favicon.png'%>" type="image/x-icon" />
</head>

<body>
  <div id="root">
    <div style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          min-height: 420px;
          height: 100%;
        ">
      <img src="<%= context.config.publicPath +'logo-no-background.png'%>" alt="logo" width="156" />
      <div style="display: flex; justify-content: center; align-items: center">
        <h2><strong>欢迎来到豆芽家代购</strong></h2>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <h5>loading...</h5>
      </div>
    </div>
  </div>
</body>

</html>